.app-content {
    overflow: hidden;
    height: 100%;
}
.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  min-width: 1.2rem;
  line-height: 1rem;

  /* Positioning */
  position: absolute;
  top: -4px;
  right: 9px;

  /* Center the badge */
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}