<h1 class="text-center">Contact Us</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" required>
        @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
        <div>
            <small>L'email est requis et doit être valide.</small>
        </div>
        }
    </div>

    <div>
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" required></textarea>
        @if(contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
        <div>
            @if(contactForm.get('message')?.errors?.required) {
            <small>Le message est requis.</small>
            }
            @if(contactForm.get('message')?.errors?.maxlength) {
            <small>Le message doit contenir moins de 300 caractères.</small>
            }
        </div>
        }

    </div>

    <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
</form>
@if(successMessage) {
<p class="success-message">{{ successMessage }}</p>
}